* {
  color: #fff;
  text-align: center;
}

/*Barra de navegación*/
body {
  font-size: 25px;
  background: #7ab2c0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #236ea0;
}

.active {
  background-color: #147279;
}



div.pie {
  text-align: center;
  text-shadow: 2px 2px 5px purple;
}
.descripcion {
  width: 100%;
  font-size: 22px;
}
/* CSS de las tarjetas*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(255,255,255,0.5);
  width: 80%;
  text-align: center;
  font-family: arial;
}
.contenedor-Imagenes{
  width: 85%;
  margin: 10px auto;
  padding: 10px 0;
  
  display: grid;
  grid-gap: 10 px ;
  grid-template-columns: repeat(4,auto);
  grid-template-rows: repeat(3,auto);
  background-color: rgb(255,255,255,0.5);
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  border-radius: 1%;
}
.contenedor-Tarjetas{
  width: 85%;
  margin: 10px auto;
  padding: 10px 0;
  margin: auto;
  display: grid;
  grid-gap: 10 px ;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(1,auto);
  background-color: rgb(255,255,255,0.5);
  border-radius: 1%;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}
.titulo{
  grid-column-start: 1;
  grid-column-end: -1;
}
.imagen {
  padding-top:2px;
  width: 100%;
  height: 300px;
  margin: auto;
  padding: auto;
}