*{
    box-sizing: border-box;
    text-align: center;
    
}

.menu
{
    background-color: bisque;
    width: 15% ;
    float: left;
}
.dashboard{
    background-color: blueviolet;
    width: 70%;
    float: left;
}
.rss{
    background-color: red;
    width: 15%;
    float: left;
}

.footer
{
    background-color: aliceblue; 
    width: 100%;
    float: left;
    height: 40px;
}
.main
{
    background-color: antiquewhite;
    width: 100%;
    height: 350px;
}
.div-video{
  width: 75%;
  background-color: blue;
  float: left;
}
.div-texto{
    width: 25%;
     background-color:red ;
     float: left;
}