body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 25px;
    background: #7ab2c0;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    top: 0;
  }
  li a:hover {
  background-color: #236ea0;
}

.active {
  background-color: #147279;
}
  
  nav li {
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para el contenido principal */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .mapa {
    margin-bottom: 20px;
  }
  
  .formulario label,
  .formulario input,
  .formulario textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  .formulario input,
  .formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #4d5766;
    color: #333;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      padding: 5px;
    }
  
    .formulario input,
    .formulario textarea {
      font-size: 16px;
    }
  
  }



  
